<template>
  <transition name="fade" mode="in-out" appear>
    <div class="modal" v-if="active">
      <div class="modal-content">
        <header class="modal-header">
          <span v-if="closable" class="close" @click="close">&times;</span>
          <p>{{ title }}</p>
        </header>
        <component :is="component" :data="data" @close="close"></component>
      </div>
    </div>
  </transition>
</template>

<script>
import Hub from '../../event'
import YesNoModal from './YesNoModal.vue'

export default {
  name: 'Modal',
  components: {
    YesNoModal
  },
  data() {
    return {
      active: false,
      title: '',
      data: {},
      component: '',
      closable: true
    }
  },
  mounted() {
    document.body.appendChild(this.$el)
    this.$nextTick(
      function () {
        Hub.$on('set-modal', this.set)
        Hub.$on('open-modal', this.open)
      }.bind(this)
    )
  },
  methods: {
    close() {
      this.active = false
      Hub.$emit('close-modal', true)
    },
    open() {
      this.active = true
    },

    set(data, title, component, closable) {
      Object.assign(this, {
        component,
        data,
        title,
        closable: closable || true
      })
    }
  }
}
</script>

<style>
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: black;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: black;
}
</style>
