<template>
  <div>
    <section class="modal-body">
      {{ data.message }}
    </section>
    <footer class="modal-footer">
      <button class="button is-primary" @click="yes">{{ $t('lang.modals.global.yesno.yes') }}</button>
      <button class="button is-dark" @click="no">{{ $t('lang.modals.global.yesno.no') }}</button>
    </footer>
  </div>
</template>

<script>
import Hub from '../../event';
import i18n from '../../locales';

export default {
  props: {
    data: Object
  },

  data() {
    return {}
  },

  methods: {
    no() {
      Hub.$emit('yes-no-answer', false)
      this.$emit('close')
    },
    yes() {
      Hub.$emit('yes-no-answer', true)
      this.$emit('close')
    }
  },
  computed: {
    i18n() {
      return i18n
    }
  },
  mounted() {
    Hub.$once('close-modal', () => {
      Hub.$off('yes-no-answer')
    })
  }
}
</script>

<style>
</style>
