<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ i18n.t('lang.administration.global.labels.create.title') }}</h1>
          <Form
            :inputs="inputs"
            :onClick="create"
            @update="update"
            :disabled="false"
            :buttonClass="''"
            :buttonText="i18n.t('lang.administration.global.labels.create.create')"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '../../locales'
import AdministrationApi from '../../api/administration'
import MessageApi from '../../api/message'
import Form from '../../components/Form'
import Validators from '../../helpers/validators'

export default {
  name: 'CreateAdministration',
  components: {
    Form,
  },
  data: () => ({
    inputs: [
      {
        name: 'title',
        type: 'text',
        label: 'Titre',
        placeholder: 'Titre',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.administration.title
      },
      {
        name: 'message',
        type: 'text',
        label: 'Message',
        placeholder: 'Message',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.administration.message
      }
    ]
  }),
  methods: {
    update(event) {
      const index = this.inputs.findIndex((input) => input.name === event.target.name)
      this.inputs[index].value = event.target.value
    },
    async create() {
      const administration = (await AdministrationApi.post({title :this.inputs[0].value, messages: []})).data
      const message = (await MessageApi.post({description: this.inputs[1].value, ticket: administration["@id"]})).data;
      await AdministrationApi.put(administration.id, {messages: [message['@id']]});
      this.$router.push({ name: 'administration-list' })
    }
  },
  computed: {
    i18n() {
      return i18n
    }
  },
  async mounted() {}
}
</script>

<style>
</style>