<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li v-for="administration in administrations" :key="administration.id">
              {{ administration.title }}
              <router-link :to="{ name: 'administration-show', params: { id: administration.id } }">Voir</router-link>
            </li>
          </ul>
          <router-link :to="{ name: 'administration-create'}">Ajouter</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '../../locales'
import AdministrationApi from '../../api/administration'

export default {
  name: 'AdministrationList',
  data: () => ({
    administrations: []
  }),
  props: {},
  methods: {},
  computed: {
    i18n() {
      return i18n
    }
  },
  async mounted() {
    const administrations = await AdministrationApi.get()
    this.administrations = administrations.data['hydra:member']
  }
}
</script>

<style>
</style>