<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <Input
          :name="'title'"
          :placeholder="'Titre'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.administration.global.labels.show.title')"
          :labelClass="''"
          :required="true"
          :type="text"
          :value="administration.title"
          :validator="Validators.administration.title"
          @update="update"
        />

        <Button v-if="disabled" :text="i18n.t('lang.administration.global.labels.edit.button')" :onClick="edit" :disabled="false" />
        <div v-else>
          <Button :text="i18n.t('lang.administration.global.labels.edit.save')" :onClick="save" :buttonClass="''" :disabled="canSave()" />
          <Button :text="i18n.t('lang.administration.global.labels.edit.cancel')" :onClick="cancel" :buttonClass="''" :disabled="false" />
        </div>
        <Button
          :text="i18n.t('lang.administration.global.labels.delete.button')"
          :onClick="showModal"
          :buttonClass="''"
          :disabled="false"
        />
      </div>
    </div>
  </div>
</template>

<script>
import AdministrationApi from '../../api/administration'
import i18n from '../../locales'
import ModalHelper from '../../helpers/modal'
import Input from '../../components/Input.vue'
import Button from '../../components/Button.vue'
import Validators from '../../helpers/validators'

export default {
  components: { Input, Button },
  name: 'AdministrationShow',
  data: () => ({
    administration: {
      title: '',
    },
    disabled: true,
    copyAdministration: Object
  }),
  methods: {
    async getAdministration() {
      const administration = await AdministrationApi.getById(this.$route.params.id)
      this.administration = {
        title: administration.data.title,
      }
    },
    async deleteAdministration() {
      await AdministrationApi.delete(this.$route.params.id)
      this.$router.push({ name: 'home' })
    },
    showModal() {
      ModalHelper.display({
        data: { message: i18n.t('lang.administration.global.labels.delete.message') },
        title: i18n.t('lang.administration.global.labels.delete.title'),
        component: 'YesNoModal',
        closable: true,
        event: 'yes-no-answer',
        callback: (res) => {
          if (res) {
            this.deleteAdministration()
          }
        }
      })
    },
    edit() {
      this.disabled = !this.disabled
      this.copyAdministration = { ...this.administration }
    },
    async save() {
      await AdministrationApi.put(this.$route.params.id, this.administration)
      this.disabled = !this.disabled
    },
    cancel() {
      this.disabled = !this.disabled
      this.administration = { ...this.copyAdministration }
    },
    update(event) {
      this.administration[event.target.name] = event.target.value
    },
    canSave() {
      const title = Validators.administration.title(this.administration.title)
      return !(title.valid)
    }
  },
  async mounted() {
    await this.getAdministration()
  },
  computed: {
    i18n() {
      return i18n
    },
    Validators() {
      return Validators
    }
  }
}
</script>

<style>
</style>