<template>
  <div>
    <!-- WIP not working -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ i18n.t('lang.payment.global.labels.create.title') }}</h1>
          <Form
            :inputs="inputs"
            :onClick="create"
            @update="update"
            :disabled="false"
            :buttonClass="''"
            :buttonText="i18n.t('lang.payment.global.labels.create.create')"
          />
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
// WIP not working
// import i18n from '../../locales'
// import PaymentApi from '../../api/payment'
// import Form from '../../components/Form'

// export default {
//   name: 'CreatePayment',
//   components: {
//     Form,
//   },
//   data: () => ({
//     inputs: []
//   }),
//   methods: {
//     update(event) {
//       const index = this.inputs.findIndex((input) => input.name === event.target.name)
//       this.inputs[index].value = event.target.value
//     },
//     async create() {
//       const payment = {}
//       this.inputs.map((input) => {
//         payment[input.name] = input.value
//       })
//       return await PaymentApi.post(payment)
//     }
//   },
//   computed: {
//     i18n() {
//       return i18n
//     }
//   },
//   async mounted() {}
// }
</script>

<style>
</style>