<template>
  <div>
    <!-- WIP not working -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li v-for="payment in payments" :key="payment.id">
              <router-link :to="{ name: 'payment-show', params: { id: payment.id } }">Voir</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
// WIP not working
// import i18n from '../../locales'
// import PaymentApi from '../../api/payment'

// export default {
//   name: 'PaymentList',
//   data: () => ({
//     payments: []
//   }),
//   props: {},
//   methods: {},
//   computed: {
//     i18n() {
//       return i18n
//     }
//   },
//   async mounted() {
//     const payments = await PaymentApi.get()
//     this.payments = payments
//   }
// }
</script>

<style>
</style>