<template>
  <div class="container">
    <!-- WIP not working -->
    <!-- <div class="row">
      <div class="col-md-12">
        id:
        <p>{{ payment.id }}</p>
      </div>
    </div> -->
  </div>
</template>

<script>
// WIP not working
// import PaymentApi from '../../api/payment';
// import i18n from '../../locales';

// export default {
//   name: 'PaymentShow',
//   props: {},
//   data: () => ({
//     paymentId: '',
//     payment: {}
//   }),
//   methods: {

//   },
//   computed: {
//     i18n() {
//       return i18n
//     }
//   },
//   async mounted() {
//     this.paymentId = this.$route.params.id
//     this.payment = await PaymentApi.getById(this.paymentId)
//   }
// }
</script>

<style>
</style>