<template>
  <div>
    Déconnexion en cours...
  </div>
</template>

<script>
import Cache from '../../helpers/cache'

export default {
  name: 'Disconnect',
  mounted() {
    Cache.remove('token')
    this.$router.push({name: 'home'})
  }
}
</script>

<style>
</style>