<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <Form
            :inputs="inputs"
            :onClick="login"
            @update="update"
            :disabled="false"
            :buttonClass="''"
            :buttonText="i18n.t('lang.authent.global.labels.login')"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from '../../components/Form.vue'
import i18n from '../../locales'
import AuthentApi from '../../api/authent'
import Validators from '../../helpers/validators'
import Cache from '../../helpers/cache'

export default {
  components: {
    Form
  },
  name: 'Login',
  data: () => ({
    inputs: [
      {
        name: 'email',
        type: 'email',
        label: 'Email',
        placeholder: 'Email',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.default
      },
      {
        name: 'password',
        type: 'password',
        label: 'Mot de passe',
        placeholder: 'Mot de passe',
        value: '',
        inputClass: '',
        labelClass: '',
        required: false,
        validator: Validators.default
      }
    ]
  }),
  methods: {
    async login() {
      const login = await AuthentApi.login(
        this.inputs[0].value,
        this.inputs[1].value
      )
      if (login.data) {
        Cache.set('token', login.data.token)
        this.$router.push({ name: 'home' })
      }
    },
    update(event) {
      const index = this.inputs.findIndex((input) => input.name === event.target.name)
      this.inputs[index].value = event.target.value
    }
  },
  computed: {
    i18n() {
      return i18n
    }
  }
}
</script>

<style>
</style>