<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ i18n.t('lang.authent.global.labels.register.title') }}</h1>
          <Form
            :inputs="inputs"
            :onClick="register"
            @update="update"
            :disabled="false"
            :buttonClass="''"
            :buttonText="i18n.t('lang.authent.global.labels.register.create')"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '../../locales'
import Form from '../../components/Form.vue'
import AuthentApi from '../../api/authent'
import Validators from '../../helpers/validators'

export default {
  name: 'Register',
  components: {
    Form
  },
  data: () => ({
    inputs: [
      {
        name: 'firstname',
        type: 'text',
        label: 'Prénom',
        placeholder: 'Prénom',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.user.firstName
      },
      {
        name: 'name',
        type: 'text',
        label: 'Nom',
        placeholder: 'Nom',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.user.lastName
      },
      {
        name: 'email',
        type: 'email',
        label: 'Email',
        placeholder: 'Email',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.user.email
      },
      {
        name: 'password',
        type: 'password',
        label: 'Mot de passe',
        placeholder: 'Mot de passe',
        value: '',
        inputClass: '',
        labelClass: '',
        required: false,
        validator: Validators.user.password
      }
    ]
  }),
  props: {},
  methods: {
    update(event) {
      const index = this.inputs.findIndex((input) => input.name === event.target.name)
      this.inputs[index].value = event.target.value
    },
    async register() {
      const user = {}
      this.inputs.map((input) => {
        user[input.name] = input.value
      })
      await AuthentApi.register(user)
      this.$router.push({ name: 'login' })
    }
  },
  computed: {
    i18n() {
      return i18n
    }
  },
  mounted: () => {}
}
</script>

<style>
</style>