<template>
  <div>
    <div v-for="elem in inputs" :key="elem.name">
      <Select
        v-if="elem.type === 'select'"
        :label="elem.label"
        :name="elem.name"
        :selectClass="elem.selectClass"
        :labelClass="elem.labelClass"
        :type="elem.type"
        :required="elem.required"
        :value="elem.value"
        :disabled="disabled"
        :options="elem.options"
        @update="update"
      />
      <Input
        v-else
        :label="elem.label"
        :name="elem.name"
        :inputClass="elem.inputClass"
        :labelClass="elem.labelClass"
        :type="elem.type"
        :required="elem.required"
        :placeholder="elem.placeholder"
        :value="elem.value"
        :disabled="disabled"
        :validator="elem.validator"
        @update="update"
      />
    </div>
    <Button :text="buttonText" :onClick="onClick" :buttonClass="buttonClass" :disabled="canSendForm()"/>
  </div>
</template>

<script>
import Input from './Input.vue'
import Select from './Select.vue'
import Button from './Button.vue'

export default {
  components: {
    Input,
    Button,
    Select
  },
  name: 'Form',
  props: {
    onClick: {
      type: Function,
      default: () => {
        console.log('No method defined for Form Button onClick!')
      }
    },
    buttonText: {
      type: String,
      default: 'Envoyer'
    },
    buttonClass: {
      type: String,
      default: ''
    },
    inputs: {
      type: Array,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    update(event) {
      this.$emit('update', event)
    },
    canSendForm() {
      const canSendForm = this.inputs.every(elem => {
        if (!elem.required) {
          return true
        }
        if (elem.type === 'select') {
          return true;
        } else {
          const input = elem.validator(elem.value)
          return input.valid
        }
      })
      return !canSendForm
    },
  },
  computed: {},
}
</script>

<style>
</style>