<template>
  <div>
    <label name="label" :class="labelClass">{{ label }}</label>
    <br />
    <input
      :class="inputClass"
      :type="type"
      :name="name"
      :disabled="disabled"
      :required="required"
      :placeholder="placeholder"
      :value="value"
      @input="change"
    />
    <br />
    <div v-if="!inputValidator.isValid" style="color: red;">{{ inputValidator.message }}</div>
    <br />
  </div>
</template>

<script>
import i18n from '../locales'

export default {
  name: 'Input',
  props: {
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    inputClass: {
      type: String,
      default: ''
    },
    labelClass: {
      type: String,
      default: ''
    },
    validator: {
      type: Function,
      default: () => ({ valid: true, message: '' })
    }
  },
  methods: {
    change(event) {
      this.$emit('update', event)
    }
  },
  mounted() {},
  computed: {
    i18n() {
      return i18n
    },
    inputValidator() {
      return this.validator(this.value)
    }
  }
}
</script>

<style>
</style>