<template>
  <div>
    <div :key="item.name" v-for="item in items">
      <router-link :to="{ name: item.routeName }">{{ item.viewName }}</router-link>
    </div>
  </div>
</template>

<script>
import i18n from '../locales'
import Cache from '../helpers/cache'

export default {
  // Menu component
  name: 'Menu',
  data() {
    return {
      // Menu items
      items: [
        {
          viewName: i18n.t('lang.menu.global.labels.home'),
          routeName: 'home'
        },
        {
          viewName: i18n.t('lang.menu.global.labels.about'),
          routeName: 'about'
        },
        {
          viewName: i18n.t('lang.menu.global.labels.contact'),
          routeName: 'contact'
        },
        {
          viewName: i18n.t('lang.menu.global.labels.administrations'),
          routeName: 'administration-list'
        },
        {
          viewName: i18n.t('lang.menu.global.labels.users'),
          routeName: 'user-list'
        },
        {
          viewName: i18n.t('lang.menu.global.labels.missions'),
          routeName: 'mission-list'
        }
      ]
    }
  },
  methods: {},
  computed: {
    i18n() {
      return i18n
    }
  },
  mounted() {
    if (Cache.get('token')) {
      this.items.push({
        viewName: i18n.t('lang.menu.global.labels.profil'),
        routeName: 'profil'
      })
      this.items.push({
        viewName: i18n.t('lang.menu.global.labels.logout'),
        routeName: 'logout'
      })
    } else {
      this.items.push({
        viewName: i18n.t('lang.menu.global.labels.login'),
        routeName: 'login'
      })
      this.items.push({
        viewName: i18n.t('lang.menu.global.labels.register'),
        routeName: 'register'
      })
    }
  }
}
</script>

<style scoped>
</style>