<template>
  <div>
    <label :class="labelClass">{{ label }}</label>
    <br />
    <select :name="name" :disabled="disabled" :required="required" :class="selectClass" @change="change">
      <option :key="option.label" v-for="option in options" :value="option.value">{{ option.label }}</option>
    </select>
    <br />
  </div>
</template>

<script>
import i18n from '../locales'

export default {
  name: 'Select',
  components: {},
  props: {
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    selectClass: {
      type: String,
      default: ''
    },
    labelClass: {
      type: String,
      default: ''
    },
    options: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    change(event) {
      this.$emit('update', event)
    }
  },
  mounted() {},
  computed: {
    i18n() {
      return i18n
    }
  }
}
</script>

<style>
</style>