<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ i18n.t('lang.mission.global.labels.create.title') }}</h1>
          <Form
            :inputs="inputs"
            :onClick="create"
            @update="update"
            :disabled="false"
            :buttonClass="''"
            :buttonText="i18n.t('lang.mission.global.labels.create.create')"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '../../locales'
import MissionApi from '../../api/mission'
import Form from '../../components/Form'
import Validators from '../../helpers/validators'

export default {
  name: 'CreateMission',
  components: {
    Form,
  },
  data: () => ({
    inputs: [
      {
        name: 'title',
        type: 'text',
        label: 'Titre',
        placeholder: 'Titre',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.mission.title
      },
      {
        name: 'description',
        type: 'text',
        label: 'Description',
        placeholder: 'Description',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.mission.description
      },
      {
        name: 'startDate',
        type: 'date',
        label: 'Date de début',
        placeholder: 'Date de début',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.mission.startDate
      },
      {
        name: 'endDate',
        type: 'date',
        label: 'Date de fin',
        placeholder: 'Date de fin',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.mission.endDate
      },
      {
        name: 'remuneration',
        type: 'number',
        label: 'Rémunération',
        placeholder: 'Rémunération',
        value: '',
        inputClass: '',
        labelClass: '',
        required: true,
        validator: Validators.mission.remuneration
      },
    ]
  }),
  methods: {
    update(event) {
      const index = this.inputs.findIndex((input) => input.name === event.target.name)
      this.inputs[index].value = event.target.value
    },
    async create() {
      const mission = {}
      this.inputs.map((input) => {
        mission[input.name] = input.value
      })
      mission.remuneration = this.inputs[4].value * 1 // Cast to number for API
      return await MissionApi.post(mission)
    }
  },
  computed: {
    i18n() {
      return i18n
    }
  },
  async mounted() {}
}
</script>

<style>
</style>