<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li v-for="mission in missions" :key="mission.id">
              {{ mission.title }} {{ mission.description.substring(25) }} {{ mission.startDate }} {{ mission.endDate }} {{ mission.remuneration }}
              <router-link :to="{ name: 'mission-show', params: { id: mission.id } }">Voir</router-link>
            </li>
          </ul>
          <router-link :to="{ name: 'mission-create'}">Ajouter</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '../../locales'
import MissionApi from '../../api/mission'

export default {
  name: 'MissionList',
  data: () => ({
    missions: []
  }),
  props: {},
  methods: {},
  computed: {
    i18n() {
      return i18n
    }
  },
  async mounted() {
    const missions = await MissionApi.get()
    this.missions = missions.data['hydra:member']
  }
}
</script>

<style>
</style>