<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <Input
          :name="'title'"
          :placeholder="'Titre'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.mission.global.labels.show.title')"
          :labelClass="''"
          :required="true"
          :type="text"
          :value="mission.title"
          :validator="Validators.mission.title"
          @update="update"
        />
        <Input
          :name="'description'"
          :placeholder="'Description'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.mission.global.labels.show.description')"
          :labelClass="''"
          :required="true"
          :type="text"
          :value="mission.description"
          :validator="Validators.mission.description"
          @update="update"
        />
        <Input
          :name="'startDate'"
          :placeholder="'Date de début'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.mission.global.labels.show.startDate')"
          :labelClass="''"
          :required="true"
          :type="date"
          :value="mission.startDate"
          :validator="Validators.mission.startDate"
          @update="update"
        />
        <Input
          :name="'endDate'"
          :placeholder="'Date de fin'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.mission.global.labels.show.endDate')"
          :labelClass="''"
          :required="true"
          :type="date"
          :value="mission.endDate"
          :validator="Validators.mission.endDate"
          @update="update"
        />
        <Input
          :name="'remuneration'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.mission.global.labels.show.remuneration')"
          :labelClass="''"
          :required="true"
          :type="number"
          :value="mission.remuneration"
          :validator="Validators.mission.remuneration"
          @update="update"
        />

        <Button v-if="disabled" :text="i18n.t('lang.mission.global.labels.edit.button')" :onClick="edit" :disabled="false" />
        <div v-else>
          <Button :text="i18n.t('lang.mission.global.labels.edit.save')" :onClick="save" :buttonClass="''" :disabled="canSave()" />
          <Button :text="i18n.t('lang.mission.global.labels.edit.cancel')" :onClick="cancel" :buttonClass="''" :disabled="false" />
        </div>
        <Button :text="i18n.t('lang.mission.global.labels.delete.button')" :onClick="showModal" :buttonClass="''" :disabled="false" />
      </div>
    </div>
  </div>
</template>

<script>
import MissionApi from '../../api/mission'
import i18n from '../../locales'
import ModalHelper from '../../helpers/modal'
import Input from '../../components/Input.vue'
import Button from '../../components/Button.vue'
import Validators from '../../helpers/validators'

export default {
  components: { Input, Button },
  name: 'MissionShow',
  data: () => ({
    mission: {
      title: '',
      description: '',
      startDate: '',
      endDate: '',
      remuneration: "0"
    },
    disabled: true,
    copyMission: Object
  }),
  methods: {
    async getMission() {
      const mission = await MissionApi.getById(this.$route.params.id)
      this.mission = {
        title: mission.data.title,
        description: mission.data.description,
        startDate: mission.data.startDate,
        endDate: mission.data.endDate,
        remuneration: mission.data.remuneration
      }
    },
    async deleteMission() {
      await MissionApi.delete(this.$route.params.id)
      this.$router.push({ name: 'home' })
    },
    showModal() {
      ModalHelper.display({
        data: { message: i18n.t('lang.mission.global.labels.delete.message') },
        title: i18n.t('lang.mission.global.labels.delete.title'),
        component: 'YesNoModal',
        closable: true,
        event: 'yes-no-answer',
        callback: (res) => {
          if (res) {
            this.deleteMission()
          }
        }
      })
    },
    edit() {
      this.disabled = !this.disabled
      this.copyMission = { ...this.mission }
    },
    async save() {
      this.mission.remuneration = this.mission.remuneration * 1 // Cast to number for API
      await MissionApi.put(this.$route.params.id, this.mission)
      this.disabled = !this.disabled
    },
    cancel() {
      this.disabled = !this.disabled
      this.mission = { ...this.copyMission }
    },
    update(event) {
      this.mission[event.target.name] = event.target.value
    },
    canSave() {
      const title = Validators.mission.title(this.mission.title)
      const description = Validators.mission.description(this.mission.description)
      const startDate = Validators.mission.startDate(this.mission.startDate)
      const endDate = Validators.mission.endDate(this.mission.endDate)
      const remuneration = Validators.mission.remuneration(this.mission.remuneration)
      return !(title.valid && description.valid && startDate.valid && endDate.valid && remuneration.valid)
    }
  },
  async mounted() {
    await this.getMission()
  },
  computed: {
    i18n() {
      return i18n
    },
    Validators() {
      return Validators
    }
  }
}
</script>

<style>
</style>