<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li v-for="user in users" :key="user.id">
              {{ user.id }} {{ user.firstName }} {{ user.lastName }} {{ user.email }}
              <router-link :to="{ name: 'user-show', params: { id: user.id } }">Voir</router-link>
            </li>
          </ul>
          <router-link :to="{ name: 'user-create'}">Ajouter</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '../../locales'
import UserApi from '../../api/user'

export default {
  name: 'UserList',
  data: () => ({
    users: []
  }),
  props: {},
  methods: {},
  computed: {
    i18n() {
      return i18n
    }
  },
  async mounted() {
    const users = await UserApi.get()
    this.users = users.data['hydra:member']
  }
}
</script>

<style>
</style>