<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <Input
          :name="'firstname'"
          :placeholder="'Prénom'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.user.global.labels.edit.firstName')"
          :labelClass="''"
          :required="true"
          :type="text"
          :value="user.firstname"
          :validator="Validators.user.firstName"
          @update="update"
        />
        <Input
          :name="'name'"
          :placeholder="'Nom'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.user.global.labels.edit.lastName')"
          :labelClass="''"
          :required="true"
          :type="text"
          :value="user.name"
          :validator="Validators.user.lastName"
          @update="update"
        />
        <Input
          :name="'email'"
          :placeholder="'Email'"
          :disabled="disabled"
          :inputClass="''"
          :label="i18n.t('lang.user.global.labels.edit.email')"
          :labelClass="''"
          :required="true"
          :type="email"
          :value="user.email"
          :validator="Validators.user.email"
          @update="update"
        />
        <Button v-if="disabled" :text="i18n.t('lang.user.global.labels.edit.button')" :onClick="edit" :buttonClass="''" :disabled="false" />
        <div v-else>
          <Button :text="i18n.t('lang.user.global.labels.edit.save')" :onClick="save" :buttonClass="''" :disabled="canSave()" />
          <Button :text="i18n.t('lang.user.global.labels.edit.cancel')" :onClick="cancel" :buttonClass="''" :disabled="false" />
        </div>
        <Button :text="i18n.t('lang.user.global.labels.delete.button')" :onClick="showModal" :buttonClass="''" :disabled="false" />
      </div>
    </div>
  </div>
</template>

<script>
import UserApi from '../../api/user'
import i18n from '../../locales'
import ModalHelper from '../../helpers/modal'
import Input from '../../components/Input.vue'
import Button from '../../components/Button.vue'
import Validators from '../../helpers/validators'

export default {
  components: { Input, Button },
  name: 'UserShow',
  data: () => ({
    user: {
      firstname: '',
      name: '',
      email: '',
    },
    disabled: true,
    copyUser: Object,
  }),
  methods: {
    async getUser() {
      const user = await UserApi.getById(this.$route.params.id)
      this.user = {
        firstname: user.data.firstname,
        name: user.data.lastname,
        email: user.data.email,
        password: user.data.password
      }
    },
    async deleteUser() {
      await UserApi.delete(this.$route.params.id)
      this.$router.push({ name: 'home' })
    },
    showModal() {
      ModalHelper.display({
        data: { message: i18n.t('lang.user.global.labels.delete.message') },
        title: i18n.t('lang.user.global.labels.delete.title'),
        component: 'YesNoModal',
        closable: true,
        event: 'yes-no-answer',
        callback: (res) => {
          if (res) {
            this.deleteUser()
          }
        }
      })
    },
    edit() {
      this.disabled = !this.disabled
      this.copyUser = {...this.user}
    },
    async save() {
      await UserApi.put(this.$route.params.id, this.user)
      this.disabled = !this.disabled
    },
    cancel() {
      this.disabled = !this.disabled
      this.user = {...this.copyUser}
    },
    update(event) {
      this.user[event.target.name] = event.target.value
    },
    canSave() {
      const firstname = Validators.user.firstName(this.user.firstname)
      const name = Validators.user.lastName(this.user.name)
      const email = Validators.user.email(this.user.email)
      return !(firstname.valid && name.valid && email.valid)
    },
  },
  async mounted() {
    await this.getUser()
  },
  computed: {
    i18n() {
      return i18n
    },
    Validators() {
      return Validators
    }
  }
}
</script>

<style>
</style>