<template>
  <div id="app">
    <Menu />
    <router-view :key="$route.fullPath"></router-view>
    <Footer/>
    <Modal/>
  </div>
</template>

<script>
import Menu from './components/Menu.vue';
import Footer from './components/Footer.vue';
import Modal from './components/Modals/Modal.vue';

export default {
  name: 'App',
  components: {
    Menu,
    Footer,
    Modal,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
